@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900$display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    /*UNTUK WARNA HEADER DAN FOOTER*/
    --second-bg-color: #323946;
    /*LATAR BELAKANG*/
    --text-color: #fff;
    /*WARNA TEXT*/
    --main-color: #0ef;
    /*WARNA SPESIAL TEXT*/
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent , rgb(0, 76, 255));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent , #00c6ff);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #0ef 0%, #00c6ff 50%, #0072ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.different {
    box-shadow: 1px 1px 2px var(--main-color), 10px 1px 12px var(--main-color),
        1px 1px 10px var(--main-color), 1px 1px 3px var(--main-color), inset 1px 1px 10px var(--main-color),
        inset 1px 1px 10px var(--main-color), inset 1px 1px 10px var(--main-color),
        inset 1px 1px 10px var(--main-color);
    animation: animate 3s linear infinite;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 24rem;
    padding: 1rem;
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    background: linear-gradient(90deg, #0061ff 10%, #60efff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.sosial-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.sosial-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    background: var(--second-bg-color);
}

.tentang-saya {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img {
    border-radius: 20rem;
    width: 24vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-heading {
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 2rem 0;
}

#tranding .tranding-slider {
    position: relative;
    padding-bottom: 5rem;
}

.tranding-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 37rem;
    height: 42rem;
    position: relative;
}

.tranding-slide H3 {
    font-size: 2rem;
    color: var(--main-color);
    text-shadow: 0px 0px 4px var(--main-color);
    padding: 2rem 0;
    letter-spacing: 10px;
    text-align: 8px;
}

.tranding-slide img {
    max-width: 17rem;
    max-height: 22rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: var(--bg-color);
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--main-color);
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.tampung {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    z-index: 90;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 2s;
}

.container:nth-child(3) {
    animation-delay: 3s;
}

.text-box {
    padding: 20px 30px;
    background: var(--bg-color);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-tampung {
    left: 0;
}

.right-tampung {
    left: 50%;
} 

.tampung img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 90;
}

.right-tampung img {
    left: -20px;
}

.timeline::after {
    border-radius: 15%;
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-tampung-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--bg-color);
    right: -15px;
}

.right-tampung-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--bg-color);
    left: -15px;
}

.service {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.service h2 {
    margin-bottom: 5rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--text-color);
    transition: .5s ease;
}

.service-container .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portofolio {
    background: var(--second-bg-color);
}

.portofolio h2 {
    margin-bottom: 4rem;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 3rem;
}

.portofolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portofolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* HALAMAN CONTACT */
.contact {
    background: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box ::placeholder {
    color: white;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #535f75;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 10rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* HALAMAN CONTACT SELESAI */

/* HALAMAN FOOOTER */
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px 0;
}

.line {
    border-top: 1px solid var(--main-color);
    width: 100%;
    border-radius: 10px;
}

.footer {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    background: var(--bg-color);
    position: absolute;
    left: 0;
    right: 0;
    padding: 55px 55px 20px 55px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-isi h2 {
    background: linear-gradient(180deg, #0ef 0%, #00c6ff 50%, #0073ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-isi p {
    font-size: 1.7rem;
    line-height: 30px;
    margin: 20px 0;
    padding-bottom: 15px;
}

.footer-lower {
    display: flex;
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

#instagram,
#whatsapp,
#tiktok,
#github,
#spotify {
    font-size: 5em;
    color: #fff;
    box-shadow: 2px 2px 2px #0000, 10px 1px 12px #0000,
        2px 2px 10px #0000, 2px 2px 3px #0000, inset 2px 2px 10px #0000,
        inset 2px 2px 10px #0000, inset 2px 2px 10px #0000,
        inset 2px 2px 10px #0000;
    border-radius: 29px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
}

#instagram {
    animation-delay: 0.3s;
}

#whatsapp {
    animation-delay: 0.9s;
}

#tiktok {
    animation-delay: 0.6s;
}

#spotify {
    animation-delay: 1.2s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

/* HALAMAN CONTACT SELESAI */

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    #tranding {
        padding: 7rem 0;
    }
}

@media (max-width: 991px) {
    .carousel img {
        width: calc(100% / 2);
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .service {
        padding-bottom: 7rem;
    }

    .portofolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }

    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .tentang-saya {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .service h2 {
        margin-bottom: 3rem;
    }

    .portofolio h2 {
        margin-bottom: 3rem;
    }

    .portofolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .carousel img {
        width: 100%;
    }

    .portofolio-container {
        grid-template-columns: 1fr;
    }

    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .tampung {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-tampung {
        left: 0;
    }

    .left-tampung img, .right-tampung img {
        left: 10px;
    }

    .left-tampung-arrow, .right-tampung-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

    #tranding .tranding-slider {
        height: 45rem;
    }

    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
    }

    .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }

    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column;
    }

    .footer-upper {
        text-align: center;
        flex-direction: column;
    }

    .footer-isi p {
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .sosial-container {
        margin-bottom: 3rem;
        letter-spacing: 1rem;
    }

    .footer-lower {
        padding-top: 0;
        margin: 1rem;
    }
}